[submodule "oresat-linux-prucam"]
	path = oresat-linux-prucam
	url = https://github.com/aakarsh/oresat-linux-prucam
[submodule "oresat-star-tracker-software"]
	path = oresat-star-tracker-software
	url = https://github.com/aakarsh/oresat-star-tracker-software
	branch = 15-oresat-app-dev-olaf-v1
